---
layout: default
---

<!-- START STYLESHEETS -->
    
  <link href="assets/css/home.css" rel="stylesheet">

<!-- END STYLESHEETS -->

{% include cover.html %}

<div class="container red">

  <div class="row">

    <div class="blue col-xs-12 col-md-4 -pad-vertical">
      
      {% include home-sidebar.html %}

    </div>

    <div class="yellow col-xs-12 col-md-8 column">

      <div class="bg-colored-pattern ">
        <div class="orange row bg-dark">
          <div class="orange col-xs-12 col-md-7">
            {% include causes.html %}
          </div>
          <div class="green col-xs-12 col-md-5">
            {% include donate.html %}
          </div>
        </div>
      </div>


      {% include contacts.html %}

    </div>

  </div>

  <style type="text/css">
    /* highlight current page */
    .card-btn-home { color: #333333 !important; background-color: white !important; }
  </style>

</div>