---
layout: default
---

<!-- START STYLESHEETS -->
    
  <link href="/assets/css/home.css" rel="stylesheet">

<!-- END STYLESHEETS -->

<div class="container red">

  <div class="row">

    <div class="yellow col-xs-12 col-md-8 column">

      //

    </div>

    <div class="blue col-xs-12 col-md-4 -pad-vertical">
      
      {% include about-box.html %}

      {% include home-sidebar.html %}

    </div>

  </div>

  <style type="text/css">
    /* highlight current page */
    .card-btn-join { color: #333333 !important; background-color: #ff6c6c !important; }
  </style>

</div>