<div id="carousel-id" class="carousel slide" data-ride="carousel" data-interval="3000">
            
  <ol class="carousel-indicators">
    {% for cover in site.data.carousel %}
    <li data-target="#carousel-id" data-slide-to="{{cover.pos}}" class="{%if cover.pos == 0 %}active{% endif %}"></li>
    {% endfor %}
  </ol>
  
  <div class="carousel-inner">
    
    {% for cover in site.data.carousel %}
    <div class="item {%if cover.pos == 0 %}active{% endif %}">
      <img alt="First slide" src="media/home/{{cover.filename}}.jpg">
      <div class="container">
        <div class="carousel-caption -bg-white -georgia">
          {{cover.content}}
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
  <a class="left carousel-control" href="#carousel-id" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="right carousel-control" href="#carousel-id" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
  
</div>