<div class="row contact">
  <div class="col-xs-12 col-md-5">
    <h2>Get in touch with us</h2>
    <p>Why you should contact us. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore.</p>
    <h4>Contact</h4>
    <p>
      <a href="mailto:something@mail.com">something@mail.com</a>
      <br> <span>+94 77 012 345</span>
      <br> <span>+94 77 012 345</span>
      <br> <span>Num. 123, <br> Someplace Rd, <br> Sometown, <br> Sri Lanka</span>
    </p>
  </div>
  <div class="col-xs-12 col-md-7">
      <div class="row">
      {% for contact in site.data.contacts %}
          <div class="contact-card col-xs-6 col-sm-4 col-md-6 col-lg-6 padding-undo">
            <div class="col-xs-12 col-md-12 empty" style="background-image: url('{{ contact.pic }}')">
            </div>
            <div class="col-xs-12 col-md-12 text pad-vertical {{ contact.covercolor }}">
              <strong>{{ contact.name }}</strong>
              <p>
                <i>{{ contact.position }}</i>
                <br><a href="mailto:{{ contact.mail }}">{{ contact.mail }}</a>
                <br><span>{{ contact.tel }}</span>
              </p>
            </div>
          </div>
      {% endfor %}
      </div>
  </div>
</div>