<div class="container">
  <div class="row cover welcome">
  	<div class="col-xs-12 col-md-4 padding-undo cover-bg-img" style="background-image: url('/media/home/welcome.jpg')">

  		<div id="welcome" class="nav-pseudo"></div>

  		<div class="hidden-xs hidden-sm hidden-md visible-lg cover-left-img-spacer"></div>
  		
  		<div class="padding-redo centered-text">
  			
  			<h3>Welcome to</h3>
  			<h1>Sri Lanka Federation of Youth Clubs</h1>

	  		<p>{{site.data.org.about}}</p>

	  		<p>Supporting and challenging young people become the best they can be.</p>

	  		<div class="dropdown dropdown-menu-full-center pad-vertical">
	  			<button type="button" class="btn btn-default dropdown-toggle btn-block" data-toggle="dropdown">
	        		<span data-bind="label">What I want to find-out about...</span>&nbsp;<span class="caret"></span>
	        	</button>
	        	<ul class="dropdown-menu" role="menu">
	        		<li><a href="#">How can I lorem ipsum dolor?</a></li>
	        		<li><a href="#">How can I ipsum dolor sit amet?</a></li>
	        		<li><a href="#">Lorem ipsum dolor</a></li>
	        	</ul>
	  		</div>

  		</div>

  	</div>
    <div class="col-xs-12 col-md-8 cover-content padding-undo">

    	<div id="carousel"></div>
      {% include carousel-home.html %}

    </div>
  </div>
</div>
