<div class="container">
  <div class="row cover welcome">
  	<div class="col-xs-12 col-md-4 padding-undo">

  		<img class="hidden-xs hidden-sm visible-md visible-lg -bottom-top-darken-333" src="http://fakeimg.pl/400x180/00CED1/FFF/?text=img+placeholder">
  		
  		<div class="padding-redo centered-text">
  			
  			<h1>Welcome to Lanka Youth Federation!</h1>

	  		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	  		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	  		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	  		consequat. </p>

	  		<p>Duis aute irure dolor in reprehenderit in voluptate velit esse
	  		cillum dolore eu fugiat nulla pariatur.</p>

	  		<div class="dropdown dropdown-menu-full-center pad-vertical">
	  			<button type="button" class="btn btn-default dropdown-toggle btn-block" data-toggle="dropdown">
	        		<span data-bind="label">What I want to find-out about...</span>&nbsp;<span class="caret"></span>
	        	</button>
	        	<ul class="dropdown-menu" role="menu">
	        		<li><a href="#">How can I lorem ipsum dolor?</a></li>
	        		<li><a href="#">How can I ipsum dolor sit amet?</a></li>
	        		<li><a href="#">Lorem ipsum dolor</a></li>
	        	</ul>
	  		</div>

  		</div>

  	</div>
    <div class="col-xs-12 col-md-8 cover-content padding-undo">

      {% include carousel-home.html %}

    </div>
  </div>
</div>