<div class="centered-text">
	<h2>Donate to Youth Federation</h2>
	<hr width="50%">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua.
	consequat.</p>
	<p>+94 77 012 345</p>
	<p>+94 77 012 345</p>
	<p>Dolor in Reprehenderit, <br> Num. 123, <br> Dolor in Reprehenderit, <br> In Voluptate, <br> Sri Lanka</p>
	<p><strong>Seylan Bank</strong> <br> 0123456789012</p>
	<p><strong>Seylan Bank</strong> <br> 0123456789012</p>
	<p><button class="btn btn-md btn-success">Paypal</button></p>
</div>