<div class="blue">

  <div class="container">
    <div class="red">logo and buttons
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
  <nav class="orange navbar navbar-default">
    <div class="container">page buttons
      <br>
      <br>
      <br>
    </div>
  </nav>

  <div class="container">
    
    <div class="nav-card row show">
      <div class="col-xs-12 col-lg-7">
        <div class="row">
          <div class="col-xs-12 col-lg-8">
            <h2>About us</h2>
          </div>
        </div>
        <div class="row pad-vertical">
          <div class="col-xs-12 col-sm-6 col-md-7">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.
          </div>
          <div class="col-xs-12 col-sm-6 col-md-5">
            <p>
              <span class="glyphicon glyphicon-chevron-right" aria-hidden=true></span>
              <a href="#">About us</a>
            </p>
            <p>
              <span class="glyphicon glyphicon-chevron-right" aria-hidden=true></span>
              <a href="#">About us</a>
            </p>
            <p>
              <span class="glyphicon glyphicon-chevron-right" aria-hidden=true></span>
              <a href="#">About us</a>
            </p>
            <p>
              <span class="glyphicon glyphicon-chevron-right" aria-hidden=true></span>
              <a href="#">About us</a>
            </p>
          </div>
        </div>
      </div>
      <div class="hidden-sm hidden-xs hidden-md col-xs-0 col-md-5">
        <img src="http://fakeimg.pl/473x240/00CED1/FFF/?text=img+placeholder">
      </div>
    </div>

  </div>

</div>