<div class="blue">

  <div class="container padding-undo">
    <div class="red row topbar">
      <div class="col-sm-12 col-md-7 topbar-left" style="background-image: url(/media/permanent/topbar-logo.png);">
        <!-- <img src="/media/permanent/topbar-logo.png"> -->
      </div>
      <div class="col-sm-12 col-md-5 topbar-right social-icons">
          <a href="{{ site.facebook_url }}"><img src="/media/permanent/soc-icon-fb-round-greyout.png"></a>
          <a href="{{ site.twitter_url }}"><img src="/media/permanent/soc-icon-tw-round-greyout.png"></a>
          <a href="mailto:{{ site.email }}"><img src="/media/permanent/soc-icon-email-round-greyout.png"></a>
      </div>
    </div>
  </div>

  <nav class="orange navbar navbar-default visible-xs visible-sm hidden-md hidden-lg">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span> 
        </button>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          {% for page in site.data.navbar.pages %}
          <li class="dropdown">
            <a href="#" class="card-btn-{{ page.id }} dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ page.title }}<span class="caret"></span></a>
            <ul class="dropdown-menu">
              {% for section in page.links %}
              <li><a href="/{{ page.url }}#{{ section.id }}">{{ section.title }}</a></li>
              {% endfor %}
            </ul>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>

  <div id="navbars">
    
    <nav class="orange navbar navbar-default transparent hidden-xs hidden-sm visible-md visible-lg centered-text">
      <div class="container">
        {% for page in site.data.navbar.pages %}
        <button 
          class="card-btn-{{ page.id }} btn btn-lg transparent btn-nav" 
          onclick="showNavcard('#card-{{ page.id }}');"
          onmouseover="showNavcard('#card-{{ page.id }}');"
        >
          {{ page.title }}
        </button>
        {% endfor %}
      </div>
    </nav>
    
    <div class="container-fluid">
    <div class="container">
      {% for page in site.data.navbar.pages %}
      <div id="card-{{ page.id }}" class="nav-card row drop-modal container hidden -visible" style="background-image: url('{{ page.pic  }}')">
        <div class="col-xs-12 col-md-7 col-lg-7">
          <div class="row">
            <div class="col-xs-12 col-lg-8">
              <a href="/{{ page.url }}"><h2>{{ page.title }}</h2></a>
            </div>
          </div>
          <div class="row pad-vertical">
            <div class="col-xs-12 col-sm-6 col-md-6">
              {{ page.intro }}
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              {% for section in page.links %}
              <p>
                <span class="glyphicon glyphicon-chevron-right" aria-hidden=true></span>
                <a href="/{{ page.url }}#{{ section.id }}"><strong>{{ section.title }}</strong></a>
              </p>
              {%endfor %}
            </div>
          </div>
        </div>
        <div class="col-xs-0 col-sm-0 col-md-5 col-lg-5">
        </div>
      </div>
      {% endfor %}
    </div>
    </div>

  </div>

</div>