// contact card

.contact-card {
	height: 240px;
	overflow: hidden;
	position: relative;
	.empty {
		background-repeat: no-repeat;
		background-size: cover;
		height: 50%;
		position: absolute;
		background-position-y: 50%;
	}
	.text {
		background-color: #9242f4;
		color: white;
		a { color: #81ffd5; }
		height: 50%;
		position: absolute;
		bottom: 0;
		width: 100%;
		text-align: center;
	}
	.text.orange { background-color: #923d15; }
	.text.purple { background-color: #9a3b9a; }
	.text.blue { background-color: #3c3cad; }
	.text.green { background-color: #3a693a; }
}

// cause card

.card.cause {
	min-height: 300px;
	background-repeat: no-repeat;
	background-position-x: 100%;
	background-size: cover;
	.full-height {
		min-height: 300px;
		background-color: rgba(51, 51, 51, 0.9)
	}
	.triangle {
		margin-top: 60px;
		border-left-color: rgba(51, 51, 51, 0.9)
	}
}
.card.cause.red {
	.full-height { background-color: rgba(241, 0, 111, 0.9); }
	.triangle { border-left-color: rgba(241, 0, 111, 0.9); }
}
.card.cause.blue {
	.full-height { background-color: rgba(59, 0, 241, 0.9); }
	.triangle { border-left-color: rgba(59, 0, 241, 0.9); }
}
.card.cause.orange {
	.full-height { background-color: rgba(241, 89, 0, 0.9); }
	.triangle { border-left-color: rgba(241, 89, 0, 0.9); }
}
.card .triangle {
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  
  border-left: 20px solid green;
}
.bg-colored-pattern {
	// background-image: url('../../media/permanent/dark-floral-5.jpg');
}
.bg-dark {
	background-color: rgba(51, 51, 51, 0.95);
}

// news card

.news.card {
	height: 400px;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	.empty {
		height: 55%;
		.triangle {
			position: absolute;
    		bottom: 0;

		  width: 0; 
		  height: 0; 
		  border-left: 20px solid transparent;
		  border-right: 20px solid transparent;
		  
		  border-bottom: 20px solid black;
		}
	}
	.text {
		color: white;
		a { color: #81ffd5; }
		height: 45%;
		position: absolute;
		bottom: 0;
		width: 100%;
	}
}
.card.news.red {
	.text { background-color: rgba(241, 0, 111, 0.9); }
	.triangle { border-bottom-color: rgba(241, 0, 111, 0.9); }
}
.card.news.blue {
	.text { background-color: rgba(59, 0, 241, 0.9); }
	.triangle { border-bottom-color: rgba(59, 0, 241, 0.9); }
}
.card.news.orange {
	.text { background-color: rgba(241, 89, 0, 0.9); }
	.triangle { border-bottom-color: rgba(241, 89, 0, 0.9); }
}

// cover welcome

.dropdown-menu-full-center ul {
	width: 100%;
    text-align: center;
    top: initial;
    li a {
	    line-height: 16px;
	    font-size: 16px;
    }

    li { width: 100%; }

}

@media (min-width: 970px) and (max-width: 1170px) {
	.cover-left-img-spacer {
		height: 100px;
	}
}
@media (min-width: 1171px) {
	.cover-left-img-spacer {
		height: 180px;
	}
}

.cover-bg-img {
	background-repeat: no-repeat;
	// background-size: contain;
    background-position-x: 50%;
}

// nav

.nav-card {
	color: #333333;
	background-color: #ffffff;
	background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 50%;
    background-size: contain;
}
@media (max-width: 518px) {
	.nav-card {
		background-image:none !important;
	}
}

// home-sidebar

.home-sidebar {
	background-color: #dddddd;
	color: #222222;
	text-shadow: none;
}

.btn-fb {
	background-color: #3b5998;
    color: #fff;
}

.table-of-contents {
	text-align: right;
    border-right: 4px solid #55ff55;
}

.table-of-contents .sidebar-left .list-group-item { padding-right: 30px; }

.sidebar-left .btn-nav {
	margin-bottom: 3px;
}

// navbar

.btn-nav:hover {
	background-color: #444;
}

.nav-card {
	margin-bottom: 15px;
}

.drop-modal {
	position: absolute;
    z-index: 100;
    box-shadow: black 0px 20px 40px;
}

// topbar

.topbar {
	width: 100%;
	float: left;

	.topbar-right, .topbar-left {
		line-height: 80px;
	    max-height: 80px;
	    overflow: hidden;
	}
	.topbar-left {
		height: 80px;
		background-size: contain;
    	background-repeat: no-repeat;
	}
	.topbar-right {
		text-align: right;
	}
	.topbar-right.social-icons img {
		height: 50px;
		width: 50px;
		margin: 15px;
	}
	.topbar-left img {
		height: 80px;
	}
	.topbar-right.social-icons img:hover {
		border: 3px solid red;
		border-radius: 100%;
	}
}

// back-to-top button

.back-to-top {

	background: none;
	margin: 0;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 70px;
	height: 70px;
	z-index: 100;
	display: none;
	text-decoration: none;
	color: #ffffff;
	background-color: #ff9000;
	
	i {
	  font-size: 60px;
	}
}
.back-to-top:hover { text-decoration: none; }

// home-carousel

#carousel-home {
	a {color: #ff3366;}
}

// helpers
.bg-white {
	background-color: rgba(255, 255, 255, 0.9);
	color: #222222;
	text-shadow: none;
}

// about-box on special pages and posts (not on home)

.about-box {
	.title {font-size: 24px;}
	background-color: #252548;
}