// contact card

.contact-card {
	display: inline-block;
	width: 150px;
	height: 150px;
	vertical-align: top;
}

// cause card

.card.cause {
	min-height: 300px;
	.full-height {
		min-height: 300px;
		background-color: rgba(51, 51, 51, 0.9)
	}
	.triangle {
		margin-top: 60px;
		border-left-color: rgba(51, 51, 51, 0.9)
	}
}
.card.cause.red {
	.full-height { background-color: rgba(241, 0, 111, 0.9); }
	.triangle { border-left-color: rgba(241, 0, 111, 0.9); }
}
.card.cause.blue {
	.full-height { background-color: rgba(59, 0, 241, 0.9); }
	.triangle { border-left-color: rgba(59, 0, 241, 0.9); }
}
.card .triangle {
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  
  border-left: 20px solid green;
}
.bg-colored-pattern {
	background-image: url('../../media/permanent/dark-floral-pattern.jpg');
}

// cover welcome

.dropdown-menu-full-center ul {
	width: 100%;
    text-align: center;

    li { width: 100%; }
}

.nav-card {
	background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 50%;
    // background-size: contain;
}
@media (max-width: 518px) {
	.nav-card {
		background-image:none !important;
	}
}