---
---


// wireframe design colors (debug)
// @import "brightcolouredmock";

// import bootstrap
@import "my-bootstrap";
// @import "bootstrap";
@import "theme/bootswatch";

@import "components";

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
	// remove cloumn paddings of 15px
	// .post, .column { padding-left: 0; padding-right: 0; }
}

// global styles
body {
	background-color: black;
}

// helper classes
.hide { display: none; }
.centered-text { text-align: center; }
.inline-block { display: inline-block; }
.vertical-align-top { vertical-align: top; }
.rounded { border-radius: 100%; }
.padding-undo { padding-left: 0; padding-right: 0; }
.padding-redo { padding-left: 15px; padding-right: 15px; }
.pic-bg-cover { background-repeat: no-repeat; background-size: cover; }
.georgia { font-family: georgia, 'times new roman', serif; }
.pad-vertical { padding-top: 15px; padding-bottom: 15px; }