---
layout: default
pageid: clubs
---

<!-- START STYLESHEETS -->
    
  <link href="/assets/css/home.css" rel="stylesheet">

<!-- END STYLESHEETS -->

<div class="container red">

  <div class="row">

    <div class="yellow col-xs-12 col-md-9 column">

      {% include section-links.html %}

      <p>:-)</p>

    </div>

    <div class="blue col-xs-12 col-md-3 -pad-vertical">
      
      {% include about-box.html %}
      
      {% include home-sidebar.html %}

    </div>

  </div>

  <style type="text/css">
    /* highlight current page */
    .card-btn-{{page.pageid}} { color: #333333 !important; background-color: rgb(216, 55, 55) !important; }
  </style>

</div>