<!DOCTYPE html>
<html lang="en">
  
  {% include head.html %}

  <body class="black">

    {% include header.html %}

    <div class="jumbotron green">
      <div class="container">jumbotron (no carousel)
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>

    <div class="container red">

      <div class="row">
        <div class="blue col-xs-6 col-md-4">fixed left column
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
        </div>
        <div class="yellow col-xs-12 col-md-8 column">

          <div class="orange post row">
            <div class="black col-xs-5 col-md-5">pic
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
            </div>
            <div class="green col-xs-7 col-md-7">post content
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
            </div>
          </div>

          <div class="orange post row">
            <div class="black col-xs-5 col-md-5">pic
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
            </div>
            <div class="green col-xs-7 col-md-7">post content
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
            </div>
          </div>

          <div class="row contact">contact us
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
          </div>

          <footer class="green row">&copy; All rights reserved by Sri Lanka Youth Federation, 2017
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
          </footer>

        </div>
      </div>

    </div>

    <!-- Javascript assets -->
    <script src="assets/jquery/jquery.min.js"></script>
    <script src="assets/bootstrap/bootstrap.min.js"></script>

  </body>
</html>