<!DOCTYPE html>
<html lang="en">
  
  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="jumbotron">
      <div class="container">
        <h1>Lanka Youth Federation</h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">Welcome to Lanka Youth Federation!</div>
      </div>
    </div>

    <!-- Javascript assets -->
    <script src="assets/jquery/jquery.min.js"></script>
    <script src="assets/bootstrap/bootstrap.min.js"></script>

  </body>
</html>