<!DOCTYPE html>
<html lang="en">
  
  {% include head.html %}

  <body class="black">

    {% include header.html %}

    <div class="jumbotron green">jumbotron (no carousel)
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>

    <div class="container red">
      <div class="row">
        <div class="blue col-xs-6 col-md-4">fixed left column
          <br>
          <br>
          <br>
          <br>
        </div>
        <div class="green col-xs-12 col-md-8">right column (content)
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
        </div>
      </div>
    </div>

    <!-- Javascript assets -->
    <script src="assets/jquery/jquery.min.js"></script>
    <script src="assets/bootstrap/bootstrap.min.js"></script>

  </body>
</html>